.header {
  width: 100%;
  height: 100%;
  border-top: 1px solid #eaeaea;
  background-color: rgb(7, 152, 201);
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
