.product {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 2rem; /* Adjust the top margin as desired */
}

.productImage {
  width: 100%;
}

.productDetails {
  padding: 1rem; /* Adjust the padding as desired */
}